<html>
  <head>
    <style>
      body {
        background: <%= background_color %>;
      }
    </style>
  </head>
  <body>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>
    <p>
        <%= message %>
        <br>
        <hr>

        The SECRET NUMBER is <%= number %>

    </p>
  </body>
</html>
